.navheader{
    background-color: black;
    text-decoration: none;
    margin: 0;
  
}
.navheader li{

    display: inline-block;
    margin: 10px;
    padding: 10px;
}
.navheader li a{
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: rgb(82, 129, 113);
    padding: 20px;
    margin:0;
    
}
.imgheader{

    border: 1px;
    border-color: black;
    border-style: solid;
    padding: 50px;
    margin: 0%;
    border-radius: 10px;
    display: inline-block
}
.logindashboard{
   
    border-radius: 10px;
    width: 50%;
    margin: auto;
    
    
  
}
.input{
    
    width: 50%;
    margin: auto;
    padding: 5px;
    
}
.inputtext{
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    
}
.btnstyle{
    background-color: rgb(88, 196, 151);
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    color: white;
    border-color:  rgb(88, 196, 151);;
}
.linkstyle{
    background-color: red;
    text-decoration: none;
    display: block;
    color: white;
    width: 10%;
    padding: 10px;
    border-radius: 5px;
    float: right;
}
.admin_ul{
    background-color: black;
   
    width: 250px;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    border-radius: 5px;
    position: fixed;
    overflow: auto;
}

.admin_ul li{
   
    display: block;
    color: white;
    padding: 20px 20px;
 

}
.admin_ul li a{
 
    color: white;
    text-decoration: none;
}
a:hover{
    background-color: #e20505;
  color: white;
border-radius: 10px;
}
.admin_nav{
    margin-left: 15%;
}
.bodycolor{
    background-color:rgba(175, 168, 168, 0.171);
    margin: 0;
}
.piaplace{
    float: right;
   
}
.newcarfilter{
    width: 20%;
    margin: auto;
    float:left
}
.newfiltertext{
    
    border-radius: 10px;
    width: 70%;
    padding: 5px;
    margin: 5px;
   
}
.textalign{
    float: right;
}
.maindisplay{
    border: 1px solid black;
    padding: 20px;
}
.cardindex{
    width: 200px;
}
.tablesty{
   
    background-color:rgb(224, 221, 215);
    padding: 20px;
    margin: 10px;
    width: 80%;
}
.findboader{
    border: 1px solid black;
    padding: 10px;
}
.headername{
    margin: 0%;
}
.rightbtnstyle{
    background-color: rgb(88, 196, 151);
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    color: white;
    border-color:  rgb(88, 196, 151);;
    float: right;
}
.newfiltertext1{
    border-radius: 10px;
    width: 10%;
    padding: 5px;
    margin: 5px;
}
.btnspace{
    padding: 2px;
}
.newstartpanal{
    
    
    width: 90%;
    height: 300px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    
}
.imagesty{
    width: 50%;
    margin: auto;
    display:inline-flex;
   
}
.usertablesty{
   
    
    padding: 20px;
    margin: 10px;
    width: 100%;
}
.imgspace{
    margin: 30px;
}
